@page "/"

@using Microsoft.AspNetCore.Blazor.Components;
@using Microsoft.JSInterop;

<h1>LoxSharp</h1>
<p>
    LoxSharp is an implementation of the <a href="http://www.craftinginterpreters.com/">Lox</a> programming language writen in C#.
    The <a href="https://github.com/encrypt0r/LoxSharp">GitHub repo</a> contains more examples that you can try out.
</p>
<div class="row">
    <div class="col-md-6">
        <h3>Try it out:</h3>
        <div id="editor">
fun fib(n) {
    if (n <= 1)
        return n;

    return fib(n - 1) + fib(n - 2);
}

for (var i = 0; i < 10; i = i + 1) {
    print("Fibonacci of " + i + " is: " + fib(i));
}
        </div>
    </div>


    <div class="col-md-6">
        <h3>Output:</h3>
        <div class="output" id="output"></div>
    </div>
</div>

<button id="run" class="btn btn-lg btn-primary">Run</button>

@functions {
    protected override async Task OnAfterRenderAsync()
    {
        await JSRuntime.Current.InvokeAsync<object>("init");
    }
}
